@font-face {
  font-family: AreplosPro;
  src: url(../public/fonts/AreplosBookPro-Bold.woff);
  font-weight: bold;
}

@font-face {
  font-family: AreplosPro;
  src: url(../public/fonts/AreplosBookPro.woff);
  font-weight: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: AreplosPro;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  font-family: AreplosPro;
  box-sizing: border-box;
}
